{% extends 'diseño/index.html' %}
{% block index %}
{% if miFormulario.errors %}

    <p style="color: red;"> Están mal los datos, revisar</p>

{% endif %}
{% load static %}
{% block buscador %}
    </form>
    <a href="{% url 'Cursos_buscar' %}" class="buscador">Buscador de Cursos</a>
{% endblock buscador %}
    <main class="contenedor">
        <h3 class="centrar-texto">Nuestros Proximos Cursos y Talleres</h3>
        {% for i in productos %}  
            <div class="curso">
                             
                <div class="curso__imagen">
                    <img src="{{i.imagen.url}}" alt="">
                </div>
                <div class="curso__informacion">
                    <h4 class="no-margin">{{i.nombre}}</h4>
                    <p class="curso__label">Precio: 
                        <span class="curso__info">{{i.precio}}</span>
                    </p>
                    <p class="curso__label">Categoria: 
                        <span class="curso__info">{{i.descripcion}}</span>
                    </p>
                    <p class="curso_descripcion">
                        {{i.presentacion | safe}}
                    </p>
                </div>
            </div>
            {% endfor %}

    </main>
{% endblock index %}