<!DOCTYPE html>
<html lang="en">
{% extends 'diseño/index.html' %}
{% block index %}
    <main class="contenedor">
        <h3 class="centrar-texto">Sobre Nosotros</h3>

        <div class="sobre-nosotros">
            <div class="sobre-nosotros__imagen">
                <img src="static/img/nosotros.jpg" alt="imagen nosotros">
            </div>
            <div class="sobre-nosotros__texto">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit aliquam non illum reprehenderit, quibusdam enim asperiores quia in ab libero tempora a sequi, itaque earum dignissimos nam aut adipisci velit.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis illo culpa ipsa maxime minus recusandae? Ullam sint facere provident consequatur labore. Ipsum eaque aut tempora illo? Quas laboriosam modi exercitationem.</p>
            </div>
        </div>
    </main>
    </main>
{% endblock index %}