{% extends 'diseño/index.html' %}
{% block index %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h3>Usuario:{{usuario.nombre}}</h3>
			<hr>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contacto</h5>
			<hr>
			<p>Email: {{usuario.email}}</p>
			<p>Phone: {{usuario.telefono}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Cursos:</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Buscar</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Curso</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th>Modificar</th>
					<th>Remover</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.cursada}}</td>
					<td>{{order.fecha}}</td>
					<td>{{order.estado}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'modificar_compra' order.id %}">Modificar</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'borrar_compra' order.id %}">Remover</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock index %}