{% extends 'diseño/index.html' %}
{% block index %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>usuario:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update usuario</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete usuario</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Email: {{usuario.email}}</p>
			<p>Phone: {{usuario.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Curso</th>
					<th>Categoria</th>
					<th>Fecha</th>
					<th>Estado</th>
					<th>Update</th>
					<th>Remover</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.comprador}}</td>
					<td>{{order.producto}}</td>
					<td>{{order.data_creada}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock index %}