{% extends 'diseño/index.html' %}
{% block index %}
{% load static %}
<form method="post" >  
    {% csrf_token %}  
    <div id="login-box" class = "login">
        <div class="left">
        <span class="loginwith">Iniciar Sesion</span>
        <a href="{% url 'reset_password' %}" class="recuperar_cuenta">Has olvidado tu contraseña?</a>
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />      
        <input type="submit" name="signup_submit" value="Entrar" />
        <a href={% url 'register' %} class="register_submit">Registrate</a>
        
        </div>
        
        <div class="right">
        <span class="loginwith">Iniciar Sesion<br/>Redes Sociales</span>
        
        <button class="social-signin facebook">Entrar con Facebook</button>
        <button class="social-signin twitter">Entrar con Twitter</button>
        <button class="social-signin google">Entrar con Google+</button>
        </div>
        <div class="or">O</div>
    </div>
    
</form>  
    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
            {% endfor %}  
        </ul>   
    {% endif %}  
<script>
var form_fields = document.getElementsByTagName('input')
form_fields[1].placeholder='Usuario';
form_fields[2].placeholder='Contraseña';

for (var field in form_fields){	
form_fields[field].className += ' form-control'
}
</script>
    
{% endblock index %}