{% extends 'diseño/index.html' %}
{% block index %}
{% load static %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{request.user.usuario.profile_pic.url}}"><span class="font-weight-bold">{{request.user.usuario.nombre}}</span><span class="text-black-50">{{request.user.usuario.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Configuracion de cuenta</h4>
                </div>
                <div class="row mt-2">
                </div>
                    <div class="row mt-3">
						<p>Usuario: {{user.username}}</p>
						<p>Telefono: {{user.phone}}</p>
						<p>Email: {{user.email}}</p>
                    </div>
                    <div class="row mt-3">
                    </div>
                        <br><a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'configuracion' %}">Configurar perfil</a></div>
                    
                    
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div class="card card-body">
	<table class="table table-sm">
		<tr>
			<th>Curso</th>
			<th>Nota</th>
			<th>Fecha</th>
			<th>Estado</th>
		</tr>

		{% for order in orders %}
		
		<tr>
			<td>{{order.cursada}}</td>
			<td>{{order.fecha}}</td>
			<td>{{order.estado}}</td>

			<td><a class="btn btn-sm btn-danger" href="{% url 'borrar_curso' order.id %}">Borrar</a></td>
		</tr>
		{% endfor %}

	</table>
</div>




{% endblock index %}

