{% extends 'diseño/index.html' %}
{% block index %}

<div class="row">
	<div class="col-md-5">
		<h5>Usuarios:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Crear Usuario</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Usuario</th>
					<th>Telefono</th>
				</tr>

				{% for usuario in usuarios %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'usuario' usuario.id %}">Modificar</a></td>
						<td>{{usuario.nombre}}</td>
						<td>{{usuario.telefono}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
{% endblock index %}